/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#breadcrumbs{ 
	list-style: none;
	margin: 0px;
	padding:0px;
	color: #666;
    line-height:28px;
    height:auto;
	padding-bottom:5px;
	background-color: #fff;
	font-size: 14px;
 }
 
#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
 #breadcrumbs li a {
	color:#666;	
	text-decoration:none;   
	height:50px;
	line-height:15px;
}

.separator {
	color: #666;
}
 
 